.content-section {
    display: grid;
    grid-template-columns: 2.15fr 0.85fr; 
    height: 100%;
    width: 100%;
    gap: 10px;
    padding-left: 17vw; 
  }
  
  .middle-section {
    padding-left: 20px;
    background-color: #f9f9f9; 
  }
  
  .activity-section {
    padding-left:20px;
    background-color: #f9f9f9; 
  }
  