@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-profile-container {
    
    padding: 2rem;
  }
  
  .user-details-container {
    display: flex;
    background-color: #fff;
  }
  
  .user-info {
    flex: 1;
  }
  
  .profile-image-container {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .user-posts-container {
    margin-top: 2rem;
  }
  
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  @media (max-width: 768px) { /* Adjust the max-width as needed for your breakpoints */
    .posts-grid {
      grid-template-columns: 1fr;
      
    }
  
    
  }
  .cover{
    background-color: #5046e5;
}
.Sidebar-input{
    width: 12.1vw;
    height: full;
    outline:none;
    background-color: #6366f1;
    color: #e2e2f6;
    
}

.Sidebar-input-find{
  width: 85vw;
  height: full;
  outline:none;
  background-color: #6366f1;
  color: #e2e2f6;
  
}

.search-icon{
    width:2vw;
    font-size: 1.2rem;
    color: #e2e2f6;
}
.search-bar{
    background-color: #6366f1;
    
}

.sidebar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 17vw; /* Same as the grid column width */
    height: 100vh; /* Full viewport height */
    z-index: 1000; /* Ensure it stays above the content */

  }
  
  .profile-image-contain {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    overflow: hidden; /* Ensures the image doesn't spill outside the container */
    border-radius: 50%; /* Makes the container circular */
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}
  
.post-container{
    width:100%; 
    height: 18rem;
    overflow: hidden; 
    
}
.post-image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  
}

